@font-face {
  font-family: "Banny";
  font-display: swap;
  src: url("../fonts/Banny-BoldRound.woff") format("woff"), url("../fonts/Banny-BoldRound.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}

picture {
  font-size: 0;
  line-height: 0;
}

figure {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._title {
  font-family: "Banny";
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding: 0;
}

._title::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
}

._subtitle {
  display: block;
  font-size: 18px;
  line-height: 28px;
}

._text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

._heading {
  display: block;
  font-family: "OpenSans";
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
  color: #fff;
}

._icon-instagram:before {
  content: "\e902";
  color: #fff;
}

._icon-marker:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
  color: #fff;
}

._icon-mail:before {
  content: "\e905";
}

._icon-phone:before {
  content: "\e906";
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.page-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
}

div {
  padding: 50px;
}

.total {
  margin: 0;
  padding: 0;
}

.license {
  margin-top: auto;
}

.input {
  margin-bottom: 25px;
}
@supports (-webkit-appearance:none){

}
